body {
    background-color: #ffdfdf;
    font-family: Arial, sans-serif;
  
  }

a {
  text-decoration: none;
  color: #e64a00;
}

a:hover {
  color: #8080ff;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: bold;
}

h2 {
  font-family: Book Antiqua;
  font-size:20px;
  font-style:normal;
}

h3 {
  font-size:16px;
  color: #e64a00;
}

section {
  margin-left: 20px;
  margin-top:40px;
}

#homebutton {
  margin-top: 20px;
  margin-left: 20px;
}


.container {
  padding: 20px;
  background-color: rgba(270,35, 0, 0.1);
  width: fit-content;
  max-width:1000px;
  height: fit-content;
  
}

#space {
  max-width: 100px;
  max-height: 100px;
}

.label{
  font-weight: bold;
  color: #333;
  text-align: center;
}

